@model GeneroModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @TempData["msg"]
    <Message Mensagem="Genero cadastrado"></Message>
    <form action="Genero/CadastroGenero" method="post">
        <h1>Cadastro de genero</h1>
        <div class="form-group">
            <label>Nome</label>
            <input asp-for="Nome" type="text" class="form-control" id="nome" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</body>
</html>